<%= title "Editing Todo Item" %>

<%= form_for [@todo_list, @todo_item], builder: FoundationFormBuilder do |form| %>
  <%= render partial: 'form', locals: { form: form } %>
<% end %>

<div class="small-12 columns">
    <%= link_to "Delete Task", todo_list_todo_item_path(@todo_item), :class => "button radius expand alert", method: :Delete, data: {confirm: "Are you sure you want to delete this item? There's no undo."} %>
  </div>