<div class="row">
  <div class="large-12 large-12 columns">
    <div class="row">
      <div class="small-12 large-12 columns hero">
        <div class="row">
          <div class="small-12 small-centered medium-6 medium-uncentered large-10 columns end hero-inner">
            <h2>The online version of <a href="tick.teamrune.com">Tick</a></h2>
            <a class="button radius" href="/users/new">Sign Up</a>
          </div>
        </div>
        <div class="row">
          <div class="large-12 large-12 columns">
            <%= image_tag 'home-iphone.png' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<br>
<br>
<br>

<footer class="row">
  <div class="small-12 small-centered columns text-center">
    <a href="/login">Already have an account? Sign In.</a>
  </div>
</footer>
